@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
input {
  color: black;
}

/* styles.css */
.background-image-class {
  background-image: url('public/img/notebook.jpeg');
  background-size: cover; /* Cover ensures the image covers the container */
  background-position: center; /* Center aligns the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100%; /* Full viewport height */
  width: 100%; /* Full viewport width */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.radius
{
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
